In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
wine_data_file = "Resources/wine-data.csv"
# File to Load (Remember to Change These)
wine_production_file = "Resources/wine-production.csv"
# File to Load (Remember to Change These)
wine_consumption_file= "Resources/wine-consumption.csv"
# File to Load (Remember to Change These)
world_temperature_file= "Resources/world_temperature.csv"

In [33]:
data_df = pd.read_csv(wine_data_file)
data_df
production_df = pd.read_csv(wine_production_file)
production_df 
consumption_df = pd.read_csv(wine_consumption_file)
consumption_df
temperature_df = pd.read_csv(world_temperature_file)
temperature_df

          Country Average yearly temperature (1961–1990, degrees Celsius)
0    Burkina Faso                                              28.29
1            Mali                                              28.25
2        Kiribati                                              28.20
3        Djibouti                                              28.00
4          Tuvalu                                              28.00
..            ...                                                ...
186    Kyrgyzstan                                              01.55
187        Norway                                              01.50
188      Mongolia                                              −0.70
189        Russia                                              −5.10
190        Canada                                              −5.35

[191 rows x 2 columns]

In [31]:
# ## make copy of dataframe to use in further data reduction
# data_init = data_df.copy()
# data_init.head()

In [5]:
# regions = regions_init.drop(columns=["country", "description", 'designation', 'points', 
#                                      'price','region_2', 'variety', 'winery'])
# regions.head()

In [35]:
## create tables from data_init_df dataframe (wine-data csv)
regions = data_df[["province","region_1"]]
regions.head()

         province           region_1
0      California        Napa Valley
1  Northern Spain               Toro
2      California     Knights Valley
3          Oregon  Willamette Valley
4        Provence             Bandol

In [36]:
## create tables from data_init_df dataframe (wine-data csv)
region_US = data_df[["region_1","region_2"]]

#rename region_1 to region_1_US
##do this later

In [37]:
## create tables from data_init_df dataframe (wine-data csv)
provinces = data_df[["country", "province"]]

In [38]:
## create tables from data_init_df dataframe (wine-data csv)
wine_data = data_df[["description", "designation", "points", "price", "province", "region_1", "region_2", 
                       "variety", "winery"]]

In [39]:
#rename columns in consumption_df to match ERD
consumption_df.rename(columns={"Entity": "country", "Code": "country_code",
        "Indicator:Alcohol, consumption of pure alcohol by type of beverage (%) - Beverage Types:Wine": "pct_wine_consumption"
                                         }, inplace=True)
consumption_df.head()

               country country_code  pct_wine_consumption
0              Albania          ALB                  19.8
1              Algeria          DZA                  35.5
2              Andorra          AND                  45.3
3               Angola          AGO                  13.7
4  Antigua and Barbuda          ATG                  16.4

In [40]:
# create tables from consumption_df (wine-consumption csv)
countries = consumption_df[["country", "country_code"]]

In [51]:
wine_consumption = consumption_df[["country", "pct_wine_consumption"]]

In [41]:
#rename columns in production_df to match ERD
production_df.rename(columns={"country": "country", "wineProduction": "volume", "pop2020":"population"
                             }, inplace=True)

In [42]:
# create tables from production_df (wine-production csv)
wine_production = production_df[["country", "volume", "population"]]
wine_production.head()

         country   volume  population
0          Italy  4250000   60461.826
1         France  3641900   65273.511
2          Spain  3248000   46754.778
3  United States  2333900  331002.651
4      Australia  1369000   25499.884

In [43]:
#rename columns in temperature_df to match ERD
##    *** I DON'T KNOW WHY THIS DID NOT WORK. SAME CODE FORMAT WORKED FOR OTHER DF. SEE CELL BELOW***
# temperature_df.rename(columns=
#             {"Country": "country","Average yearly temperature (1961-1990, degrees Celsius)" : "avg_temp"
#             }, inplace=True)
# temperature_df.head()

In [44]:
#rename columns in temperature_df to match ERD
temperature_df.columns = ["country", "avg_temp"] 
temperature_df.head()

        country avg_temp
0  Burkina Faso    28.29
1          Mali    28.25
2      Kiribati    28.20
3      Djibouti    28.00
4        Tuvalu    28.00

In [45]:
#create tables from temperature_df 
temperature = temperature_df[["country", "avg_temp"]]
temperature.head()

        country avg_temp
0  Burkina Faso    28.29
1          Mali    28.25
2      Kiribati    28.20
3      Djibouti    28.00
4        Tuvalu    28.00

In [49]:
## use this format to export all tables to sql to leave off the index  
#temperature.to_sql("tempature2.csv", index=False)

In [ ]:
## dataframe names / table names to work with: 
# regions
# region_US
# provinces
# wine_data
# countries
# wine_consumption
# wine_production
# temperature