In [3]:
# Dependencies and Setup
import pandas as pd

In [4]:
# File to Load (Remember to Change These)
wine_data_file = "Resources/wine-data.csv"
# File to Load (Remember to Change These)
wine_production_file = "Resources/wine-production.csv"
# File to Load (Remember to Change These)
wine_consumption_file= "Resources/wine-consumption.csv"
# File to Load (Remember to Change These)
world_temperature_file= "Resources/world_temperature.csv"

In [5]:
data_df = pd.read_csv(wine_data_file)
data_df
production_df = pd.read_csv(wine_production_file)
production_df 
consumption_df = pd.read_csv(wine_consumption_file)
consumption_df
temperature_df = pd.read_csv(world_temperature_file)
temperature_df

          Country Average yearly temperature (1961–1990, degrees Celsius)
0    Burkina Faso                                              28.29
1            Mali                                              28.25
2        Kiribati                                              28.20
3        Djibouti                                              28.00
4          Tuvalu                                              28.00
..            ...                                                ...
186    Kyrgyzstan                                              01.55
187        Norway                                              01.50
188      Mongolia                                              −0.70
189        Russia                                              −5.10
190        Canada                                              −5.35

[191 rows x 2 columns]

In [19]:
regions_init = data_df.copy()
regions_init.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [20]:
# regions = regions_init.drop(columns=["country", "description", 'designation', 'points', 
#                                      'price','region_2', 'variety', 'winery'])
# regions.head()

In [23]:
regions = regions_init[["province","region_2"]]
regions.head()

         province           region_2
0      California               Napa
1  Northern Spain                NaN
2      California             Sonoma
3          Oregon  Willamette Valley
4        Provence                NaN

In [ ]:
regions = regions_init[["province","region_2"]]
regions.head()