In [115]:
# Dependencies and Setup
import pandas as pd

In [116]:
# File to Load (Remember to Change These)
wine_data_file = "Resources/wine-data.csv"
# File to Load (Remember to Change These)
wine_production_file = "Resources/wine-production.csv"
# File to Load (Remember to Change These)
wine_consumption_file= "Resources/wine-consumption.csv"
# File to Load (Remember to Change These)
world_temperature_file= "Resources/world_temperature.csv"

In [117]:
data_df = pd.read_csv(wine_data_file)
data_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [118]:
#drop null values ( previous amount of content : 150930 rows × 11 columns ..... current content : 39241 rows × 11 columns)
data_df.dropna()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
8,8,US,This re-named vineyard was formerly bottled as...,Silice,95,65.0,Oregon,Chehalem Mountains,Willamette Valley,Pinot Noir,Bergström
9,9,US,The producer sources from two blocks of the vi...,Gap's Crown Vineyard,95,60.0,California,Sonoma Coast,Sonoma,Pinot Noir,Blue Farm
...,...,...,...,...,...,...,...,...,...,...,...
150889,150889,US,A bizarre style of wine. The aromas are Port-l...,Lafond Vineyard,82,35.0,California,Santa Ynez Valley,Central Coast,Pinot Noir,Lafond
150892,150892,US,"A light, earthy wine, with violet, berry and t...",Coastal,82,10.0,California,California,California Other,Merlot,Callaway
150914,150914,US,"Old-gold in color, and thick and syrupy. The a...",Late Harvest Cluster Select,94,25.0,California,Anderson Valley,Mendocino/Lake Counties,White Riesling,Navarro
150915,150915,US,"Decades ago, Beringer’s then-winemaker Myron N...",Nightingale,93,30.0,California,North Coast,North Coast,White Blend,Beringer
150916,150916,US,An impressive wine that presents a full bouque...,J. Schram,93,65.0,California,Napa Valley,Napa,Champagne Blend,Schramsberg

###### Cleaned data set for DB

In [119]:
#create a regions dataframe ( Region 1, Province) from "wine_data_file"
regions = pd.read_csv(wine_data_file)
regions.drop([ 
              'country', 
              'description',
              'designation',
              'points',
              'price',
              'region_2',
              'variety',
              'winery'
             ], axis=1, inplace=True)
regions.head()

   Unnamed: 0        province           region_1
0           0      California        Napa Valley
1           1  Northern Spain               Toro
2           2      California     Knights Valley
3           3          Oregon  Willamette Valley
4           4        Provence             Bandol

In [120]:
regions.to_csv(r'regions.csv', index = False)

In [121]:
# Create a dataframe of provinces (Country , Province) from "wine_data_file"
provinces = pd.read_csv(wine_data_file)
provinces.drop([  
              'description',
              'designation',
              'points',
              'price',
              'region_1',
              'region_2',
              'variety',
              'winery'
             ], axis=1, inplace=True)
provinces.head()

   Unnamed: 0 country        province
0           0      US      California
1           1   Spain  Northern Spain
2           2      US      California
3           3      US          Oregon
4           4  France        Provence

In [122]:
provinces.to_csv(r'provinces.csv', index = False)

In [126]:
# includes region 1 and 2  -- final table to be called region 1 US from "wine_data_file"
region_US = pd.read_csv(wine_data_file)
region_US.drop (['description',
                 'designation',
                 'points',
                 'price',
                 'variety',
                 'winery',
                 'country',
                 'province',
               ], axis=1, inplace=True)
region_US.head()

   Unnamed: 0           region_1           region_2
0           0        Napa Valley               Napa
1           1               Toro                NaN
2           2     Knights Valley             Sonoma
3           3  Willamette Valley  Willamette Valley
4           4             Bandol                NaN

In [127]:
region_US.to_csv(r'region_US.csv', index = False)

In [ ]:
# # include country and country_code
# countries

In [128]:
#includes (description, designation, points, price, province, variety, winery) from "wine_data_file"
wine_data = pd.read_csv(wine_data_file)
wine_data.drop([
                'country',
                'region_1',
                'region_2',
               ], axis=1, inplace=True)
wine_data.head()

,Unnamed: 0,description,designation,points,price,province,variety,winery
0,0,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Cabernet Sauvignon,Heitz
1,1,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Tinta de Toro,Bodega Carmen Rodríguez
2,2,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Sauvignon Blanc,Macauley
3,3,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Pinot Noir,Ponzi
4,4,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Provence red blend,Domaine de la Bégude

In [129]:
wine_data.to_csv(r'wine_data.csv', index = False)