In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load (Remember to Change These)
wine_data_file = "Resources/wine-data.csv"
# File to Load (Remember to Change These)
wine_production_file = "Resources/wine-production.csv"
# File to Load (Remember to Change These)
wine_consumption_file= "Resources/wine-consumption.csv"
# File to Load (Remember to Change These)
world_temperature_file= "Resources/world_temperature.csv"

In [3]:
data_df = pd.read_csv(wine_data_file)
data_df
production_df = pd.read_csv(wine_production_file)
production_df 
consumption_df = pd.read_csv(wine_consumption_file)
consumption_df
temperature_df = pd.read_csv(world_temperature_file)
temperature_df

          Country Average yearly temperature (1961–1990, degrees Celsius)
0    Burkina Faso                                              28.29
1            Mali                                              28.25
2        Kiribati                                              28.20
3        Djibouti                                              28.00
4          Tuvalu                                              28.00
..            ...                                                ...
186    Kyrgyzstan                                              01.55
187        Norway                                              01.50
188      Mongolia                                              −0.70
189        Russia                                              −5.10
190        Canada                                              −5.35

[191 rows x 2 columns]

In [4]:
data_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude

In [9]:
# check to see how values for values that 
data_df.iloc[135696]

Unnamed: 0                                                135696
country                                                      NaN
description    From first sniff to last, the nose never makes...
designation                                         Piedra Feliz
points                                                        81
price                                                         15
province                                                     NaN
region_1                                                     NaN
region_2                                                     NaN
variety                                               Pinot Noir
winery                                                   Chilcas
Name: 135696, dtype: object

In [12]:
# print (data_df["designation"].isnull())

#   [data_df["country"] == ""]

##check for null values 
# data_df[data_df["country"].isna()]
data_df[data_df["country"].isnull()]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
1133,1133,NaN,Delicate white flowers and a spin of lemon pee...,Askitikos,90,17.0,NaN,NaN,NaN,Assyrtiko,Tsililis
1440,1440,NaN,"A blend of 60% Syrah, 30% Cabernet Sauvignon a...",Shah,90,30.0,NaN,NaN,NaN,Red Blend,Büyülübağ
68226,68226,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
113016,113016,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas
135696,135696,NaN,"From first sniff to last, the nose never makes...",Piedra Feliz,81,15.0,NaN,NaN,NaN,Pinot Noir,Chilcas

In [13]:
## gives all countries and whether it's true or false for NaN.  
data_df["country"].isnull()

0         False
1         False
2         False
3         False
4         False
          ...
150925    False
150926    False
150927    False
150928    False
150929    False
Name: country, Length: 150930, dtype: bool

In [18]:
data_df.dropna(subset = ["country"], inplace=True)
data_df.head()

In [20]:
## recheck for null valuse
data_df[data_df["country"].isnull()]

Empty DataFrame
Columns: [Unnamed: 0, country, description, designation, points, price, province, region_1, region_2, variety, winery]
Index: []

In [19]:
# ## make copy of dataframe to use in further data reduction
# data_init = data_df.copy()
# data_init.head()

In [ ]:
# regions = regions_init.drop(columns=["country", "description", 'designation', 'points', 
#                                      'price','region_2', 'variety', 'winery'])
# regions.head()

In [ ]:
## create tables from data_init_df dataframe (wine-data csv)
regions = data_df[["province","region_1"]]
regions.head()

In [ ]:
## create tables from data_init_df dataframe (wine-data csv)
region_US = data_df[["region_1","region_2"]]

#rename region_1 to region_1_US
##do this later

In [ ]:
## create tables from data_init_df dataframe (wine-data csv)
provinces = data_df[["country", "province"]]

In [ ]:
## create tables from data_init_df dataframe (wine-data csv)
wine_data = data_df[["description", "designation", "points", "price", "province", "region_1", "region_2", 
                       "variety", "winery"]]

In [ ]:
#rename columns in consumption_df to match ERD
consumption_df.rename(columns={"Entity": "country", "Code": "country_code",
        "Indicator:Alcohol, consumption of pure alcohol by type of beverage (%) - Beverage Types:Wine": "pct_wine_consumption"
                                         }, inplace=True)
consumption_df.head()

In [ ]:
# create tables from consumption_df (wine-consumption csv)
countries = consumption_df[["country", "country_code"]]

In [ ]:
wine_consumption = consumption_df[["country", "pct_wine_consumption"]]

In [ ]:
#rename columns in production_df to match ERD
production_df.rename(columns={"country": "country", "wineProduction": "volume", "pop2020":"population"
                             }, inplace=True)

In [ ]:
# create tables from production_df (wine-production csv)
wine_production = production_df[["country", "volume", "population"]]
wine_production.head()

In [ ]:
#rename columns in temperature_df to match ERD
##    *** I DON'T KNOW WHY THIS DID NOT WORK. SAME CODE FORMAT WORKED FOR OTHER DF. SEE CELL BELOW***
# temperature_df.rename(columns=
#             {"Country": "country","Average yearly temperature (1961-1990, degrees Celsius)" : "avg_temp"
#             }, inplace=True)
# temperature_df.head()

In [ ]:
#rename columns in temperature_df to match ERD
temperature_df.columns = ["country", "avg_temp"] 
temperature_df.head()

In [ ]:
#create tables from temperature_df 
temperature = temperature_df[["country", "avg_temp"]]
temperature.head()

In [ ]:
## use this format to export all tables to sql to leave off the index  
#temperature.to_sql("tempature2.csv", index=False)

In [ ]:
## dataframe names / table names to work with: 
# regions
# region_US
# provinces
# wine_data
# countries
# wine_consumption
# wine_production
# temperature